@page "/"
@using DTO

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center align-items-center flex-grow-1 flex-column">
    <h1 class="pb-5">Welcome to the forum</h1>

    <PostList @ref="postList" OnViewPostClicked="ShowPostDetails"/>
    
    <CreatePostModal @ref="createPostModal" OnPostCreated="HandlePostCreated" />

    <AuthorizeView>
        <Authorized>
            <button @onclick="ShowCreatePostModal" class="btn btn-primary rounded-circle fab">
                <i class="bi bi-plus-lg"></i>
            </button>
        </Authorized>
    </AuthorizeView>

    <PostDetails @ref="postDetails" />
</div>

@code {
    private CreatePostModal? createPostModal;
    private PostList? postList;
    private PostDetails? postDetails; 

    private void ShowCreatePostModal()
    {
        createPostModal?.ShowModal();
    }

    private void HandlePostCreated(PostDTO newPost)
    {
        postList?.AddPost(newPost);
    }

    private async Task ShowPostDetails(int postId)
    {
        if (postDetails != null)
        {
            await postDetails.ShowModal(postId);
        }
    }

}