@page "/"
@using DTO

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center align-items-center flex-grow-1 flex-column">
    <h1 class="pb-5">Welcome to the forum</h1>

    <PostList @ref="postList" />
    
    <CreatePostModal @ref="createPostModal" OnPostCreated="HandlePostCreated" />

    <button @onclick="ShowCreatePostModal" class="btn btn-primary rounded-circle fab">
        <i class="bi bi-plus-lg"></i>
    </button>

</div>

@code {
    private CreatePostModal? createPostModal;
    private PostList? postList; 

    private void ShowCreatePostModal()
    {
        createPostModal?.ShowModal();
    }

    private void HandlePostCreated(PostDTO newPost)
    {
        postList?.AddPost(newPost);
    }

}