@using System.ComponentModel.DataAnnotations
@using ForumApp.Services
@using ForumApp.Components.Authentication
@using DTO
@inject IPostService PostService; 
@inject ICommentService CommentService; 
@inject AuthenticationStateProvider AuthProvider;

<LoginModal @ref="loginModal" />
<CreateUserModal @ref="createUserModal" />

@if (isVisible)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@post?.Title</h5>
                    <button type="button" class="btn-close" @onclick="HideModal"></button>
                </div>
                <div class="modal-body">
                    <p>@post?.Body</p>
                </div>
                <div class="modal-footer justify-content-center flex-column overflow-y-scroll">
                    <h6>Comments</h6>
                    <div class="list-group w-100">
                        @foreach (var comment in comments)
                        {
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <p class="mb-1">@comment.AuthorUsername</p>
                                    <small class="text-muted">@comment.Created</small>
                                </div>
                                <p class="mb-1"><small>@comment.Body</small></p>
                            </div>
                        }
                    </div>

                    <AuthorizeView>
                        <NotAuthorized>
                            <div class="alert alert-warning alert-dismissible fade show mt-3 w-100" role="alert">
                                You need to log in to post a comment.
                                <div class="mt-3">
                                    <button @onclick="ShowLoginModal" class="btn btn-primary btn-sm me-2">Log in</button>
                                    <button @onclick="ShowCreateUserModal" class="btn btn-outline-dark btn-sm">Create User</button>
                                </div>
                            </div>
                        </NotAuthorized>
                        <Authorized>
                            <div class="w-100">
                                <EditForm Model="newComment" OnValidSubmit="HandleValidSubmit" Context="editFormContext">
                                    <DataAnnotationsValidator />
                                    <ValidationSummary />

                                    <div class="input-group input-group-sm mb-3">
                                        <InputText id="comment" class="form-control" @bind-Value="newComment.Body" placeholder="Write your comment..."/>
                                        <button class="btn btn-outline-secondary" type="submit">Comment</button>
                                    </div>
                                </EditForm>

                            </div>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter] public int PostId { get; set; }
    
    private PostDTO? post;
    private List<CommentDTO> comments = new(); 
    private bool isVisible;
    private CreateCommentDTO? newComment = new(); 
    private CreateUserModal? createUserModal;
    private LoginModal? loginModal;
    private int? currentUserId;
    private string? currentUsername; 
    
    protected override async Task OnInitializedAsync()
    {
        await SetCurrentUserAsync();
    }

    public async Task ShowModal(int postId)
    {
        PostId = postId;
        isVisible = true;
        await LoadPostDetailsAsync(); 
        await SetCurrentUserAsync();
        StateHasChanged();
    }

    private async Task SetCurrentUserAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var claimsPrincipal = authState.User;

        if (claimsPrincipal.Identity is not null && claimsPrincipal.Identity.IsAuthenticated)
        {
            string? userIdAsString = claimsPrincipal.Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
            if (int.TryParse(userIdAsString, out int userId))
            {
                currentUserId = userId; 
            }

            currentUsername = claimsPrincipal.Identity.Name ?? throw new InvalidOperationException("Authenticated user does not have a username.");
        }
        else
        {
            currentUsername = string.Empty;
        }
    }


    private void HideModal()
    {
        isVisible = false;
        post = null;
        comments = new(); 
        StateHasChanged();
    }

    private async Task LoadPostDetailsAsync()
    {
        try
        {
            post = await PostService.GetPostAsync(PostId);
            comments = await CommentService.GetCommentsAsync(postId: PostId);
        }
        catch (Exception e)
        {
            Console.Error.WriteLine($"Error fetching post and/or comments : {e.Message}");
            post = null;
            comments = new();
        }
    }

    private async Task HandleValidSubmit()
    {
        if (currentUserId == null || string.IsNullOrEmpty(currentUsername))
        {
            throw new InvalidOperationException("User is not logged in or username could not be determined.");
        }

        newComment.AuthorName = currentUsername; 
        newComment.AuthorId = currentUserId.Value;
        newComment.PostId = PostId;
        
        CommentDTO createdComment = await CommentService.AddCommentAsync(newComment);

        comments.Add(createdComment);
        
        newComment.Body = string.Empty;
        
        StateHasChanged();
    }
    
    private void ShowLoginModal()
    {
        loginModal?.ShowModal();
    }
    
    private void ShowCreateUserModal()
    {
        createUserModal?.ShowModal();
    }

}