@using DTO

@code {
    [Parameter] public PostDTO Post { get; set; }

    [Parameter] public int CommentCount { get; set; }

    private void ViewPost()
    {
        // Code for opening post details view
    }

}
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Post.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <small>@Post.Created</small>
                </h6>
                <div class="d-flex justify-content-between">
                    <a href="#" @onclick="ViewPost" class="card-link">View post</a>
                    <span class="d-flex align-items-center">
                        <small class="text-muted me-2">@CommentCount</small>
                        <i class="bi bi-chat-left-quote text-muted"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
