@using ForumApp.Components.Authentication
@using ForumApp.Services
@inject AuthenticationStateProvider AuthProvider
@inject IUserService UserService

<LoginModal @ref="loginModal"/>
<CreateUserModal @ref="createUserModal"/>

<div class="top-row ps-3 navbar navbar-dark d-flex flex-column flex-shrink">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ForumApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column mb-auto">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <hr/>

        <div class="nav-item px-3 d-flex flex-column align-items-center">
            <AuthorizeView>
                <NotAuthorized>
                    <button class="btn btn-outline-primary" @onclick="ShowLoginModal">Log in</button>
                    <button type="button" class="btn btn-outline-light mt-4" @onclick="ShowCreateUserModal">Create User</button>
                </NotAuthorized>
                <Authorized>
                    <span class="text-white">Welcome, @currentUsername!</span>
                    <button class="btn btn-outline-light btn-sm mt-4" @onclick="LogoutAsync">Log out</button>
                </Authorized>
            </AuthorizeView>
            
        </div>
    </nav>
</div>

@code {
    private LoginModal? loginModal;
    private CreateUserModal? createUserModal;
    private string currentUsername;

    protected override async Task OnInitializedAsync()
    {
        AuthProvider.AuthenticationStateChanged += async (task) =>
        {
            await SetCurrentUserAsync();
            StateHasChanged(); 
        };

        await SetCurrentUserAsync(); 
    }

    private void ShowLoginModal()
    {
        loginModal?.ShowModal();
    }
        
    private async Task SetCurrentUserAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var claimsPrincipal = authState.User;

        if (claimsPrincipal.Identity is not null && claimsPrincipal.Identity.IsAuthenticated)
        {
            currentUsername = claimsPrincipal.Identity.Name; 
        }
    }

    private void ShowCreateUserModal()
    {
        createUserModal?.ShowModal();
    }

    private async Task LogoutAsync()
    {
        await ((SimpleAuthProvider)AuthProvider).Logout();
        await SetCurrentUserAsync();
        await InvokeAsync(StateHasChanged);
    }
}
